
#legislators-3-cols, #legislators-2-cols {
  width:100%;
}

#legislators-2-cols .legislator {
  width:47%;
}

#legislators-3-cols .legislator {
  width:30%;
}

#legislators-3-cols .legislator, #legislators-2-cols .legislator {
  float:left;
  min-width: 15em;
  margin-bottom: 2em;
  padding-right: 2%;
}

#legislators-3-cols .legislator h3, #legislators-2-cols .legislator h3 {
  height: 2em;
}

.legislator .img-wrapper {
  margin: .5em 0;
  height: 200px;
  min-height: 200px;
}
.legislator img {
  height: 200px;
  min-height: 200px;
  display: block;
}

.legislator p {
  padding: .15em 0;
}

